<!-- Sidebar scroll-->
<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li> <a class="waves-effect waves-dark" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
            </li>
            <li> <a class="waves-effect waves-dark" routerLink="/tunnel" routerLinkActive="active" aria-expanded="false"><i class="mdi mdi-server-network"></i><span class="hide-menu">Tunnel</span></a>
            </li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->