<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center">
        <h3 class="text-themecolor">Tunnel</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Tunnel</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Root User Tunnel Login</h4>
                <h6 class="card-subtitle">Root credential for tunnel login.</h6>
                <div *ngIf="tunnel">
                    <div class="row">
                        <h5 class="col-md-2 text-right text-muted">Host IP</h5>
                        <h5 class="col-md-4">{{ tunnel.root_account.host_ip }}</h5>
                    </div>
                    <div class="row">
                        <h5 class="col-md-2 text-right text-muted">Tunnel Username</h5>
                        <h5 class="col-md-4"><a class="text-inherit" href="javascript:;" matTooltip="Click to Copy" [matTooltipPosition]="'above'" ngxClipboard [cbContent]="tunnel.root_account.username">{{ tunnel.root_account.username }}</a></h5>
                    </div>
                    <div class="row">
                        <h5 class="col-md-2 text-right text-muted">Tunnel Password</h5>
                        <h5 class="col-md-4"><app-inline-edit [min]="6" [max]="12" [charLimit]="'luds'" [(text)]="tunnel.root_account.password" [confirmMessage]="'Are you sure want to edit password?'" (onEdit)="onChangeRootPassword($event)"></app-inline-edit></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="userService.checkPermissions('child_user_manage')">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title row">
                	<div class="col-md-10">
                		<h4>Sub User Tunnel Login</h4>
                	</div>
                	<div class="col-md-2">
                		<button class="btn waves-effect waves-light btn-primary pull-right hidden-sm-down" *ngIf="tunnel" [disabled]="tunnel.max_child_account==0" (click)="onClick()">Create New User</button>
                	</div>
                </div>
                <h6 *ngIf="tunnel" class="card-subtitle">Maximum you can create Child user is : <code>{{ tunnel.max_child_account }}</code></h6>
                <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                <div class="table-responsive" *ngIf="tunnel">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of tunnel.child; let i = index">
                                <td>{{ i+1 }}</td>
                            	<td ><a href="javascript:;" class="text-inherit" matTooltip="Click to Copy" [matTooltipPosition]="'above'" ngxClipboard [cbContent]="item.username">{{ item.username }}</a></td>
                                <td ><span><app-inline-edit [(text)]="item.password" [min]="6" [max]="12" [charLimit]="'luds'" [confirmMessage]="'Are you sure want to edit password?'" (onEdit)="onChangeChildPassword($event, i)"></app-inline-edit></span></td>
                                <td ><mat-slide-toggle [color]="'primary'" [checked]="!!+item.status" (change)="onChangeStatus(i, $event)"></mat-slide-toggle></td>
                                <td >{{ item.created_at|date:'d MMM yyyy h:mm a' }}</td>
                                <td ><button data-toggle="tooltip" title="Delete" (click)="onDelete(i)" class="btn-xs waves-effect waves-light btn-danger"><i class="mdi mdi-window-close"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>