<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center">
        <h3 class="text-themecolor">Tunnel</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Tunnel</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title row">
                	<div class="col-md-10">
                		<h4>Login Access Tunnel</h4>
                	</div>
                	<div class="col-md-2">
                		<button class="btn waves-effect waves-light btn-primary pull-right hidden-sm-down" *ngIf="tunnel" [disabled]="tunnel.max_child_account==0" (click)="onClick()">Create New User</button>
                	</div>
                </div>
                <h6 *ngIf="tunnel" class="card-subtitle">Maximum you can create Child user is : <code>{{ tunnel.max_child_account }}</code></h6>
                <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                <div class="table-responsive" *ngIf="tunnel">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of tunnel.child; let i = index">
                                <td>{{ i+1 }}</td>
                            	<td ><span>{{ item.user }}</span></td>
                                <td ><span>{{ item.pass }}</span></td>
                                <td ><mat-slide-toggle [checked]="!!+item.status" (change)="onChangeStatus(i, $event)"></mat-slide-toggle></td>
                                <td >{{ item.created_at|date:'d MMM yyyy h:mm a' }}</td>
                                <td ><button data-toggle="tooltip" title="Delete" (click)="onDelete(i)" class="btn-xs waves-effect waves-light btn-danger"><i class="mdi mdi-window-close"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>